################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/filter-driver/.vs/filter-driver/v16
