################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/driver/Debug
/driver/.vs/driver/v16
/driver/driver/Debug
